body {
    color: #353535;
    background: #EFEFF4;

}

ul, li, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}
.myorder {
    background: #f8f8f8;
    padding: 0 15px;
    line-height: 40px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 15px;
}

.myorder img {
    width: 8px;
    float: right;
    margin-top: 14px;
}

.myorder a {
    display: block;
    color: #353535;
    text-decoration: none
}

.salelist {
    overflow: hidden;
    background: #fff;
    min-height: 700px;
}

.fiexcny {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.fiexcny .f11 {
    font-size: 12px;
}

.salelist dl {
    overflow: hidden;

}

.salelist dt {
    float: left;
    overflow: hidden;
    padding-bottom: 5px;

}

.salelist dt img {
    width: 130px;
    height: 130px;
    margin-right: 10px;
}

.salelist dd {
    padding-top: 15px;
    height: 132px;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    width: 62%;
    position: relative;;

}

.fiexcny a {
    color: #fff;
    text-align: center;
    line-height: 25px;
    display: block;
    border-radius: 4px;
    background: #f65150;
    width: 55px;
    height: 25px;
    float: right;
    margin-right: 15px;
}

.salelist dd h1 {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.fiexcny img {
    width: 7px;
}

.fiexcny s {
    margin-left: 8px;
    color: #888;
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: -1px;
}

.salelist .f14 {
    color: #888;
    font-size: 14px;
    padding-top: 6px;
}

.salelist .f18 {
    font-size: 18px;
    color: #F65150;
    background: url("../images/moneyicon.png") no-repeat 0 8px;
    background-size: 7px;
    padding-left: 12px;
}

.fixe {
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 49px;
    border-top: 1px solid #979797;
}

.fixe ul {
}

.fixe li {
    width: 33.3%;
    float: left;
    text-align: center;
    font-size: 10px;
    color: #b3b3b3
}

.fixe img {
    display: block;
    margin: 0 auto;
    height: 30px;
}

.fixe a {
    display: block;
    text-decoration: none;
    color: #F65150
}

/*产品详情*/
.details-dy {
}

.details-dy img {
    width: 100%;
}

.details-txt {
    padding: 0 15px;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
    border-top: 1px #dfdfdf solid;
}

.details-txt h4 {
    font-weight: 200;
    color: #000 !important;
    font-size: 16px;
    margin: 10px 0 8px 0
}

.details-txt .b3b3b3 {
    color: #b3b3b3;
    line-height: 16px;
    font-size: 13px;
}

.details-txt .cny {
    font-size: 21px;
    font-weight: 300;
    background: url("../images/moneyicon.png") no-repeat 0 8px;
    background-size: 9px;
    padding-left: 10px;
    color: #f65150;
}

.details-txt ul {
    overflow: hidden;
    margin-top: -5px;

}

.details-txt .f13 {
    font-size: 13px;
    color: #353535;
    margin-left: 10px
}

.details-txt li {
    text-align: left;
    color: #888;
    font-size: 12px;
    width: 33.3%;
    overflow: hidden;
    padding: 0 0 15px 0;
}

.details-txt li.text-right {
    text-align: right
}

.details-txt li.text-center {
    text-align: center
}

.details {
    font-size: 14px;
    background: #fff;
    padding: 15px;
    color: #666;
}

.details span {
    height: 25px;
    color: #353535;
    float: left;
    display: block;
    width: 65px
}

.footer-btn {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-btn button {
    border-radius: 0;
    background: #f65150
}

.submitorder {
    width: 100%;
    bottom: 0;
}

.submitorder button {
    border-radius: 0;
    background: #f65150
}

.paybtn {
    width: 100%;
    padding: 0 15px;
}

.paybtn button {
    border-radius: 6px;
    background: #f65150
}

.mt65 {
    margin-bottom: 65px;
}

.saleshow {
    overflow: hidden;
}

.saleshow ul {
    overflow: hidden;;
    background: #fff;
    padding: 0 0 10px 15px;
}

.saleshow li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 0;
    color: #000;

}

.saleshow .bm-b {
    border-bottom: 0
}

.saleshow .close-n {
    display: block
}

.saleshow .close-n img {
    float: right;
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.saleshow .img-s {
    font-size: 14px;
    color: #000;
    margin-top: -20px;
}

.saleshow .img-s img {
    margin-right: 10px;
    float: left;
    width: 60px;
    height: 60px
}

.saleshow a {
    float: left;
    text-decoration: none;
    margin: 0 10px 0 0;
    padding: 2px 10px;
    border-radius: 4px;
    display: block;
}

.saleshow .curr {
    background: #f65150;
    color: #fff
}

.saleshow .standard {
    color: #353535;
    background: #f5f5f5;
}

.saleshow .cny {
    font-size: 16px;
    color: #f65150;
    margin-top: 5px;
}

.am-show {
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    width: 100%;
    z-index: 1110;
}

.am-modal-active {
    transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
}

.am-modal-out {
    z-index: 1109;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.am-show-footer {
    margin: 10px 25px;
}

.am-show-footer .delete_btn {
    font-size: 17px;
    color: #353535;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.625em 0;
    text-align: center;
}

.am-show-footer .close-btn {
    font-size: 17px;
    color: #0079FF;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.625em 0;
    text-align: center;
}

.am-show-footer a {
    text-decoration: none
}

.showbg {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

.showbg-active {
    opacity: 1;
    display: block;
}

.num {
    float: right
}

.num a {
    float: left;
    width: 23px;
    height: 23px;
    margin: 0;
}

.num input {
    float: left;
    text-align: center;
    width: 23px;
    height: 23px;
    border: 0;
    font-size: 15px;
    color: #000;
}

.num .reduce {
    font-size: 0;
    background: url("../images/reduce.png") no-repeat;
    background-size: 23px;
}

.num .add {
    font-size: 0;
    background: url("../images/add.png") no-repeat;
    background-size: 23px;
}

.confirm {
    text-align: center;
    margin-bottom: 10px;
    background: #fff;
    color: #007AFF;
    line-height: 44px;
    border-bottom: 1px solid #dfdfdf
}

.confirm a {
    text-decoration: none;
    color: #007AFF;
    display: block;
}

.confirm img {
    width: 16px;
    margin: -4px 10px 0 0
}

.saleshop {
    background: #FFF;
    border-top: 1px solid #dfdfdf;
    margin-top: 15px;
}

.saleshop .time {
    margin: 0;
    padding: 0 15px;
    line-height: 46px;
    color: #888;
    border-bottom: 1px solid #dfdfdf;
}

.saleshop dl {
    color: #888;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    background: #f5f5f5;
    padding: 15px 0 15px 15px;
}

.saleshop dt {
    overflow: hidden;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.saleshop dt img {
    width: 80px;
    height: 80px;
}

.saleshop dd {
    float: left;
    overflow: hidden;
    width: 74%;
    position: relative
}

.saleshop .w96 {
    width: 96%;
    display: block;
    color: #353535;
}

.saleshop .w80 {
    width: 80%;
    display: block;
    color: #353535;
}

.saleshop .cny {
    font-size: 14px;
    float: right;
    display: block;
    position: absolute;;
    right: 15px;
    top: 0;
    color: #353535;
}

.saleshop .number {
    font-size: 12px;
    float: right;
    display: block;
    position: absolute;;
    right: 15px;
    top: 0;
}

.saleshop .and {
    margin: 0;
    padding: 0 15px;
    line-height: 46px;
    color: #353535;
    border-bottom: 1px solid #dfdfdf;
}
.saleshop .and a{text-decoration: none;}
.saleshop .andbtn {
    border-radius: 4px;
    margin-top:9px;
    display: block;
    float: right;
    padding: 0 15px;
    line-height: 27px;
    background: #f65150;
    text-align: center;
    color: #fff;
}
.saleshop .Harvest {
    border-radius: 4px;
    margin-top:9px;
    display: block;
    float: right;
    padding: 0 9px;
    line-height: 27px;
    background: #fff;
    text-align: center;
    color: #454545;text-decoration: none;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
}
.saleshop .logistic {
    border-radius: 4px;
    margin-top:9px;
    display: block;
    float: right;
    padding: 0 9px;
    line-height: 27px;
    background: #f65150;
    text-align: center;
    color: #fff;text-decoration: none;
}
.saleshop .redcny {
    font-size: 16px;
    color: #f65150;
    margin-left: 2px;
}

.saleshop .number small {
    font-size: 9px;
    margin-right: 2px;
}

.saleshop .state {
    font-size: 14px;
    float: right;
    display: block;
    color: #353535;
}

.saleshop .state2 {
    font-size: 14px;
    float: right;
    display: block;
    color: #f65150;
}

.message {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
    background: #fff;
    padding-left: 15px
}

.message ul {
}

.message li {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 15px 15px 0
}

.message .br-n {
    border-bottom: 0;
}

.message .cny {
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
    color: #f65150;
}

.edit {
    padding: 0 0 0 15px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 30px;
    margin-top: 15px;
}

.edit ul {
}

.edit .bo-n {
    border-bottom: 0
}

.edit li {
    line-height: 44px;
    color: #000;
    font-size: 15px;
    overflow: hidden;;
    display: block;
    border-bottom: 1px solid #dfdfdf;
}

.edit input, textarea, select {
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 70%;
}

.edit select {
    color: #777;
}

.edit label {
    width: 80px;
}

.add-user {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px
}

.add-user ul {
    overflow: hidden;
    padding: 16px 0 0 0
}

.add-user li {
    text-align: left;
    font-size: 13px;
}

.add-user .map {
    width: 18px;
    margin-top: 13px;
}

.add-user .ricon {
    width: 9px;
    margin-top: 15px;
}

.add-user i {
    color: #cacaca
}

.add-user .f14 {
    font-size: 14px;
}

.over {
    text-align: center;
    margin-bottom: 30px;
    padding: 80px 15px 0 15px;
}

.over .o1 {
}

.over .o1 img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.over .o2 {
    font-size: 17px;
}

.over .o3 {
    font-size: 14px;
    color: #888
}

.over .ted {
    color: #ff0000;
    font-size: 16px;
}

.over .o4 {
}

.over .o4 img {
    width: 125px
}

.over .o5 {
    color: #ff0000;
    font-size: 14px;
    padding: 0 3px;
}

.whitebg {
    background: #fff;
}

.see {
    background: #fcfcfc;
    border-radius: 6px;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    margin: 30px 15px;
    border: 1px solid #C7C7C7
}

.see a {
    color: #353535;
    text-decoration: none;
    display: block;
}

.address {
}

.address ul {
    padding: 15px 0 0 0;
    background: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf
}

.address li {
    padding: 0 15px
}

.address .f14 {
    font-size: 14px;
}

.address .f13 {
    font-size: 13px;
    margin-top: 5px;
}

.address img {
    width: 17px;
    margin-left: 15px;
    margin-top: -3px;
    margin-right: 5px;
}

.address .h40 {
    border-top: 1px solid #dfdfdf;
    margin-top: 15px;
    padding-top: 10px;
    background: #f3f3f3;
    height: 42px;
}

.address .h40 input {
    margin-right: 5px;
}

.address .h40 a {
    color: #888;
    text-decoration: none;
    padding: 10px 0
}

.delet {
    margin: 80px 10px 0 10px;
}

.editshow {
}

.editshow h1 {
    text-align: center;
    font-size: 15px;
    color: #000
}

.editshow .line-r {
    border-right: 1px solid #dfdfdf;
}

.editshow button {
    color: #0079FF;
    font-size: 17px;
    border: 0;
    background: none;
    text-decoration: none;
    line-height: 44px;
    width: 49%
}

.editshow .footer {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #dfdfdf;
}

.modal-lg {
    z-index: 9999
}

.on_check {
    padding-left: 20px;
    color: #353535;
    margin-right: 5px;
    width: 86px;
    height: 18px;
    display: block;
    float: left;
    background: url("../images/white-icon2.png") no-repeat 0 2px;
    background-size: 16px;
}

.piaochecked {
    margin-right: 5px;
    color: #f56159;
    padding-left: 20px;
    width: 86px;
    height: 18px;
    display: block;
    float: left;
    background: url("../images/white-icon.png") no-repeat 0 2px;
    background-size: 16px;
}

.myrder {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    line-height: 44px;
}

.myrder ul {
    overflow: hidden
}

.myrder li {
    width: 20%;
    font-size: 15px;
    text-align: center;
    float: left
}

.myrder .curr {
    border-bottom: 2px solid #f65150;
    color: #f65150
}

.call {
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    color: #888
}
.noorder{ text-align: center}
.noorder img{ width: 40%; margin: 100px auto 10px auto}
.noorder h1{ color: #353535; font-size: 17px;}
.bgcolor{ background: #fff}